<style type="text/css">
#td1 { border-style:solid; border-width:thin;}
#td2 { padding:10px;}
#td3 { padding:1px;}
#td4 { border-width:thin; padding:10px;}

html,body{height:100%} 
body{margin:0}
#body{min-height:100%}
#content{padding-bottom:7.0em}
#foot{margin-top:-1.9em;height:7.0em; background-color:#F6F6F6;}




</style>